body:not(.footer) {
    background-color: rgb(236, 221, 210);
    padding: 0;
    margin: 0;
    font-family: "Indie Flower", cursive;
    font-size: 30px;
    margin-left: 30px;

}

/* nav */
.ul_recipes{
    background-color: rgb(240, 178, 144);
    margin-bottom: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 34px;
    text-align: center;
    margin-left: -30px;
}

.li_recipes{
    display: inline;

}

.li_recipes:last-child {
    border-right: none;
  }


.li_recipes a {
    color: rgb(95, 94, 97);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-weight: 400;
}

.li_recipes a:hover {
    background-color: rgb(245, 205, 180);
}

/* nav */

img{
    width: 500px;
    float: right;
    margin: 45px 100px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 30px;
    margin-top: 60px;
}

p, li:not(.li_recipes){
    margin-left: 50px;
    margin-right: 100px;
}

.original_recipe{
    text-align: right;
    margin-right: 100px;
}

.home{
    font-weight: 700;
}

.footer {
    background-color: rgb(240, 178, 144);
    color: rgb(95, 94, 97);
    bottom: 0;
    width: 100%;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-left: -30px;
}

.footer a {
    margin-right: 10px;
}